@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
.fz-text {
    font-family: 'Quicksand', sans-serif;
}

.pm-text {
    font-family: 'Permanent Marker', cursive;
}

.navbar {
    font-size: 17px;
}

.navbar-brand:hover {
    opacity: 0.8;
}

.border-li {
    height: 3px;
    width: 20px;
    transition: 0.5s;
}

.nav-link:hover {
    text-decoration: underline;
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-left: 5px;
}

.link-dropdown {
    color: black;
    text-decoration: none;
}

li :hover {
    color: #0d6efd;
    cursor: pointer;
}

#dropdown-class {
    display: none;
}

nav ul li:hover #dropdown-class {
    /* Affiche la dropNav au survol de la souris avec la class .drop */
    display: list-item !important;
    position: absolute;
    background-color: white;
    margin-top: 40px;
    box-shadow: 5px 5px 10px grey;
    padding: 15px;
    border-radius: 4px;
}

nav ul li:hover #dropdown-class li {
    float: none;
}