html{
    background-color:white;
}

h1{
    padding-top: 15px ;
    font-size: 40px!important;
    text-align: center;
}

#side_bar{
    background-color:#353950;
    width: 15%;
    min-height: 100vh;
}

#list-sidebar li:hover {
    text-decoration: underline;
}